
<h1 class="container" style="margin-top: 20px; margin-bottom: 20px; text-align: center;">HEROES</h1>

<div *ngIf="heroes.length == 0">
    <div class="alert alert-danger" role="alert">
         Este heroe no existe :(
      </div>
</div>







<div class="card-columns">
  <div class="card animated fadeIn" *ngFor="let heroe of heroes; let i = index">
    <img [src]="heroe.img" class="card-img-top" [alt]="heroe.nombre">
    <div class="card-body">
      <h5 class="card-title" style="font-weight: bold; text-align: center;">{{ heroe.nombre | uppercase }}</h5>
      <p class="card-text"><small class="text-muted"> Primera aparición: {{ heroe.aparicion }}</small></p>
      <a [routerLink]="['/heroe',i]">
      <button type="button" class="btn btn-info btn-block" (click)="verHeroe(i)"> Info </button>
      </a>
    </div>
  </div>
</div>