<div class="card mb-3" style="max-width: 1024px; margin-top: 5rem;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img [src]="heroe.img" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body animated fadeIn">
          <h5 class="card-title">{{heroe.nombre}}</h5>
          <p class="card-text">{{heroe.bio}}</p>
          <p class="card-text"><strong>Casa:</strong> {{heroe.casa}}</p>
          <p class="card-text"><strong>Aparición: </strong>{{heroe.aparicion}}</p>
        </div>
      </div>
    </div>
  </div>
  <a [routerLink]="['/heroes']" style="display: flex; justify-content: center; align-items: center; margin-top: 40px;">
    <button class="btn btn-success"> Volver a los heroes </button>
  </a> 